<div class="container-fluid p-4">
    <div class="row">
        {{#each data}}
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    <a href="{{url}}" target="_blank">
                        <h3 class="card-title text-uppercase">
                            {{title}}
                        </h3>
                    </a>
                </div>
                <div class="card-body">
                    <img src="{{urlToImage}}" alt="imagen" width="200px">
                    <p class="m-2">{{description}}</p>
                    {{!-- <p class="text-muted">
                        {{content}}
                    </p> --}}
                </div>
                <div class="card-footer">
                    {{author}} - {{source.name}}
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No se econtraron noticias.</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>